.buttonBack {
  margin: 20px;
  background: none;
  border: none;
  font-size: 28px;
  outline: none;
  cursor: pointer;
}

.goBackIcon:hover {
  color: #2e2eec;
}

.filmDetails {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
}

.poster {
  width: 250px;
  margin-right: 20px;
}
.genre {
  margin-right: 6px;
}

.addingInformation {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px;
}

.link {
  display: block;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 10px;
}

.activeLink {
  font-weight: 600;
}
